@import 'vars'

@media (min-width: 992px)
  a
    transition: .2s
    &:hover
      transition: .2s
      color: $accent
  a.button
    transition: .2s
    &:hover
      transition: .2s
      color: #fff
  .header 
    &-logo.home-logo
      transition: .2s
      &:hover
        background-image: url(../img/logo-hover.svg)
        transition: .2s
    &-nav
      ul
        li.menu-item-has-children
          transition: .2s
          &:hover
            &>ul
              display: block
              border: 1px solid rgba(167, 167, 167, .5)
              height: auto
              padding: 30px 40px
              transition: .2s
          &>div
            cursor: pointer
            &:hover
              transition: .2s
              color: $accent
              &::after
                background-image: url(../img/icons/down-arr-blue.svg)
                transition: .2s
    a
      transition: .2s
      &:hover
        transition: .2s
        color: $accent
  .button
    &:hover
      &::before
        opacity: 1
        transition: .2s
  input.button
    transition: .2s
    &:hover
      transition: .2s
      transform: scale(1.1)
      &::before
        opacity: 1
        transition: .2s
  .case
    &-item
      &:hover
        &::before
          transition: .2s
          opacity: .5
  .news
    &-wrap
      &-item
        transition: .2s
        h3
          transition: .2s
        p
          transition: .2s
        span
          transition: .2s
          &::after
            transition: .2s
        &:hover
          transition: .2s
          h3
            transition: .2s
          p
            transition: .2s
            color: #fff
